{% extends 'base.html' %}
{% block title %}
    {% if 'edit' in request.path %}Edit {% else %}Add {% endif %}Assignment
{% endblock %}
{% load widget_tweaks %}

{% block content %}
    <h3 class="text-center">
        {% if 'edit' in request.path %}Edit {% else %}Add {% endif %}Assignment
    </h3>
    <form action="" class="mt-3" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="form-group">
                    <label for="id_student">Select Student</label>
                    <select name="student" class="form-control" id="id_student" required>
                        {% if 'edit' in request.path %}
                            <option value="">---------</option>
                            <option value="{{ object.student.pk }}" selected="">{{ object.student }}</option>
                        {% else %}
                            <option value="" selected="">---------</option>
                        {% endif %}
                        
                        {% for student in students %}
                            <option value="{{ student.pk }}">{{student}}</option>
                        {% endfor %}
                      </select>
                </div>

                <div class="form-group">
                    <label for="id_student">Select Grade</label>
                    {% render_field form.grade class="form-control" %}
                </div>

                <div class="form-group">
                    {% render_field form.section class="form-control" placeholder="Section" %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-2">
                <a href="{% url 'assignments:list' %}" type="button" class="btn btn-block btn-danger">Cancel</a>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-block btn-success">Save</button>
            </div>
        </div>
    </form>
{% endblock  %}